# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing ##
/coverage

# production
/files/mari-bairamova/documentation
/files/mari-bairamova/downloads
/files/mari-bairamova/src/fonts
/files/mari-bairamova/src/images
/files/mari-bairamova/src/scripts/bodymovin
/files/mari-bairamova/src/scripts/sticky-kit
/files/mari-bairamova/src/styles/vendors
/files/mari-bairamova/src/styles/main.css
/files/mari-bairamova/src/styles/main.css.map

/composer.json
/composer.lock
/.gitignore



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*